/*Global  styles and colors. Colors generated via coolors.co color palette genarator */
:root {
  --gunmetal: #31393C;
  --crayolablue: #2176FF;
  --celestialblue: #33A1FD;
  --sunglow: #FDCA40;
  --carrot: #F79824;
}

html {
  font-size: 16px;
  color: var(--gunmetal);
  font-family: 'Rubik', sans-serif;
  text-align: center;
  width: 100%;
  background-image: linear-gradient(to right, var(--crayolablue), var(--celestialblue))
}

.grid-container {
  display: grid;

}

/*header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
}

header h1 {
  font-size: 3.5rem;
  background: -webkit-linear-gradient(var(--sunglow), var(--carrot));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header a {
  text-decoration: none;
}

header a:hover {
  opacity: 0.5;
}

header a:active {
  color: var(--gunmetal);
  text-decoration: none;
}

nav a {
  font-size: 1.25rem;
  color: var(--gunmetal);
  padding-right: 1.5rem;
}

nav a:hover {
  text-decoration: underline;
}

/* landing page styles */
