/*Global  styles and colors. Colors generated via coolors.co color palette genarator */
:root {
  --gunmetal: #31393C;
  --crayolablue: #2176FF;
  --celestialblue: #33A1FD;
  --sunglow: #FDCA40;
  --carrot: #F79824;
}

html {
  font-size: 16px;
  color: var(--gunmetal);
  font-family: 'Rubik', sans-serif;
  text-align: center;
  width: 100%;
  background-image: linear-gradient(to right, var(--crayolablue), var(--celestialblue))
}

body {
  margin: 0;
  display: grid;
  height: 100vh;
}

span {
  background: -webkit-linear-gradient(var(--sunglow), var(--carrot));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover {
  opacity: 0.5;
}

a:hover {
  text-decoration: underline;
}

.grid {
  grid-template: repeat(7, 1fr) / 1fr;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text-glow {
  text-shadow: .5px .5px 1px var(--sunglow);
}

footer {
  grid-area: 7 / 1 / 8/ 1;
  font-style: italic;
  opacity: 50%;
}

/*header styles */
header {
  grid-area: 1 / 1 / 2 / 1;
}

header h1 {
  font-size: 3.5rem;
  background: -webkit-linear-gradient(var(--sunglow), var(--carrot));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
}

header a:active {
  color: var(--gunmetal);
  text-decoration: none;
}

nav a {
  font-size: 1.25rem;
  color: var(--gunmetal);
  padding-right: 1.5rem;
}

/* main section styles */

main {
  grid-area: 2 / 1 / 7 / 1;
}

main div {
  width: 42.5%;
}

main a {
  color: var(--gunmetal);
}

.projects {
  align-items: flex-start;
}

.overflow-scroll {
  overflow-y: scroll;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

li a:active {
  color: var(--gunmetal);
  text-decoration: none;
}

li h3 {
  margin: 1remrem 0rem .5rem 0rem;
}

li p {
  margin: .4rem 0rem;
}

li h6 {
  margin: .4rem 0rem 1rem 0rem;
  font-style: italic;
}